.navbar ul li a p {
    display: inline-block;
    margin: 0.2rem 1rem;
}

#productsContainer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    margin: 2rem;
    border-radius: 1rem;
    background-color: rgb(83, 83, 83);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 27rem;
    transition: all ease 0.5s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
}

.card:hover {
    scale: 1.1;
}

.card-img-top {
    object-fit: cover;
    border: 0.2rem dashed white;
    width: 15rem;
    height: 11rem;
    margin: 1rem;
    border-radius: 1rem;
}

.card-body {
    margin: 1rem;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.card-body>p {
    align-self: center;
    font-style: italic;
}

#productsContainer>.btn {
    background-color: rgb(203, 203, 203);
    color: black;
    margin: 1rem;
    transition: all ease 0.5s;
}

#productsContainer>.btn:hover {
    background-color: gray;
}

/* Utility Class */
.curved-border {
    border-radius: 5rem;
}